.dashboard-qualit {
  align-items: center;
  background-color: #ffffff;
  display: flex;
  height: 1184px;
  padding: 28px 62px 9.62px 26px;
  position: relative;
  width: 1728px;
}

.dashboard-qualit .sidebar {
  position: relative;
  width: 257px;
}

.dashboard-qualit .div {
  align-items: flex-end;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
}

.dashboard-qualit .top-right-BTN-add {
  align-items: center;
  background-color: var(--variable-collection-light-orange);
  border: 0.72px dashed;
  border-color: var(--variable-collection-edit);
  border-radius: 45.78px;
  display: inline-flex;
  gap: 11px;
  height: 40px;
  justify-content: center;
  padding: 3px 23px 3px 3px;
  position: relative;
}

.dashboard-qualit .img {
  height: 34px;
  position: relative;
  width: 34px;
}

.dashboard-qualit .ajouter-un {
  color: var(--variable-collection-edit);
  font-family: "Poppins", Helvetica;
  font-size: 11.6px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: fit-content;
}

.dashboard-qualit .main-section {
  align-items: flex-start;
  align-self: stretch;
  border-color: var(--variable-collection-section-border);
  border-radius: 18px;
  display: flex;
  flex: 0 0 auto;
  gap: 28px;
  margin-top: -7px;
  padding: 32px 27px;
  position: relative;
  width: 100%;
}

.dashboard-qualit .left-section {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 28px;
  justify-content: center;
  position: relative;
}

.dashboard-qualit .img-2 {
  align-self: stretch;
  flex: 0 0 auto;
  position: relative;
  width: 100%;
}

.dashboard-qualit .div-2 {
  align-self: stretch;
  height: 323px;
  position: relative;
  width: 100%;
}

.dashboard-qualit .two-div-in-same-row {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 28px;
  position: relative;
  width: 100%;
}

.dashboard-qualit .div-lesactions {
  align-self: stretch;
  position: relative;
  width: 475px;
}

.dashboard-qualit .div-3 {
  flex: 1;
  flex-grow: 1;
  position: relative;
}

.dashboard-qualit .right-section {
  align-items: center;
  background-color: #ffffff;
  border: 2px solid;
  border-color: var(--variable-collection-border);
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  gap: 29px;
  padding: 24px;
  position: relative;
  width: 344px;
}

.dashboard-qualit .div-prochaineaudit {
  align-items: flex-start;
  align-self: stretch;
  background-color: #ffffff;
  border: 2px solid;
  border-color: var(--variable-collection-bot-active);
  border-radius: 18px;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
  padding: 24px;
  position: relative;
  width: 100%;
}

.dashboard-qualit .group {
  height: 200px;
  position: relative;
  width: 248px;
}

.dashboard-qualit .div-wrapper {
  align-items: center;
  display: inline-flex;
  gap: 8px;
  left: 0;
  position: absolute;
  top: 0;
}

.dashboard-qualit .text-wrapper {
  color: #19294a;
  font-family: "Poppins", Helvetica;
  font-size: 17px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.dashboard-qualit .frame-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 8px;
  left: 0;
  position: absolute;
  top: 50px;
  width: 248px;
}

.dashboard-qualit .frame-wrapper {
  align-items: center;
  align-self: stretch;
  border: 2px solid;
  border-color: var(--variable-collection-bot-active);
  border-radius: 18px;
  display: flex;
  flex: 0 0 auto;
  gap: 29px;
  justify-content: space-around;
  padding: 16px 24px;
  position: relative;
  width: 100%;
}

.dashboard-qualit .frame-3 {
  align-items: flex-end;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.dashboard-qualit .text-wrapper-2 {
  color: var(--variable-collection-main-blue);
  font-family: "Poppins", Helvetica;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.dashboard-qualit .frame-4 {
  align-items: center;
  align-self: stretch;
  background-color: #ffffff;
  border: 2px solid;
  border-color: var(--variable-collection-bot-active);
  border-radius: 18px;
  display: flex;
  height: 80px;
  justify-content: space-between;
  padding: 24px;
  position: relative;
  width: 100%;
}

.dashboard-qualit .frame-5 {
  align-items: flex-end;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  justify-content: center;
  margin-bottom: -10.00px;
  margin-top: -10.00px;
  position: relative;
}

.dashboard-qualit .text-wrapper-3 {
  color: var(--variable-collection-gris-for);
  font-family: "Poppins", Helvetica;
  font-size: 17px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: fit-content;
}

.dashboard-qualit .frame-6 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  position: relative;
}

.dashboard-qualit .frame-21 {
  height: 30.67px !important;
  left: unset !important;
  position: relative !important;
  top: unset !important;
  width: 30.67px !important;
}

.dashboard-qualit .line {
  align-self: stretch;
  height: 1px;
  object-fit: cover;
  position: relative;
  width: 100%;
}
